body{
    background:lightgray;
}
header{
    
}

/* Apply these styles only when #preview-pane has
   been placed within the Jcrop widget */
.jcrop-holder #preview-pane {
  display: block;
  position: absolute;
  z-index: 2000;
  top: 30px;
  right: -300px;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */
#preview-pane .preview-container {
  width: 250px;
  height: 170px;
  overflow: hidden;
}

.navbar {
    background: #ff9c3e none repeat scroll 0 0;    
}

.ace-nav > li.light-blue > a {
    background-color: #775514;
}

.no-skin .nav-list > li.highlight.active::before {
    background-color: #ff9c3e;
    display: block;
}

.no-skin .nav-list li.active > a::after {
    -moz-border-right-colors: #ff9c3e;
    border-right-color: #ff9c3e;
}

.no-skin .nav-list > li.active > a {
    color: #ff9c3e;
    font-weight: 700;
}

.no-skin .nav-list > li.active > a {
    color: #ff9c3e;
    font-weight: 700;
}

.no-skin .nav-list > li.highlight.active > a::before {
    -moz-border-left-colors: #775514;
    border-left-color: #775514;
    right: -11px;
}

.no-skin .nav-list > li.highlight.active > a {
    background-color: #775514 !important;
}

.btn, .btn-default, .btn:focus, .btn-default:focus {
    background-color: #775514 !important;
    border-color: #775514;
}