body,html {
    background-color: #f3f3f3;
    height:100%;
}
img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.slideshowShadow {
    background-color: rgba(0,0,0,0.40) !important;
}

.btn-green {
    background-color: #ff9c3e !important;
}
.btn-o.btn-green {
    background-color: transparent !important;
    color: #ff9c3e !important;
    border-color: #ff9c3e !important;
}
.no-touch .btn-o.btn-green:hover,
.btn-o.btn-green:focus,
.btn-o.btn-green:active,
.btn-o.btn-green.active,
.open > .dropdown-toggle.btn-o.btn-green {
    background-color: #ff9c3e !important;
    color: #f3f3f3 !important;
}
.text-green {
    color: #ff9c3e !important;
}
.logo {
    background-color: #ff9c3e !important;
}
.no-touch .userMenu ul > li > a:hover > span, .no-touch .userMenu ul > li > a:focus > span {
    color: #ff9c3e !important;
}
.stLabel {
    background-color: #ff9c3e !important;
}
.stArrow {
    border-top-color: #ff9c3e !important;
}
.ui-slider .ui-slider-range {
    background-color: #ff9c3e !important;
}
.no-touch a.card:hover h2, .no-touch div.card:hover h2 {
    color: #ff9c3e !important;
}
.no-touch .similar a.similarProp:hover .info .name {
    color: #ff9c3e !important;
}
.amItem.active span {
    color: #ff9c3e !important;
}
.no-touch .propsWidget ul.propList li a:hover .info .name {
    color: #ff9c3e !important;
}
.no-touch .agentsWidget ul.agentsList li a:hover .info .name {
    color: #ff9c3e !important;
}
.pagination > .active > a,
.pagination > .active > span,
.no-touch .pagination > .active > a:hover,
.no-touch .pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #ff9c3e !important;
    border-color: #ff9c3e !important;
}
.page-links > span {
    background-color: #ff9c3e !important;
}
.progress-bar-green {
    background-color: #ff9c3e !important;
}
.spotlight {
    background-color: #ff9c3e !important;
}
.s-icon {
    color: #ff9c3e !important;
}
.label-green {
    background-color: #ff9c3e !important;
}
h2.s-main {
    color: #ff9c3e !important;
}
.no-touch .s-menu-item:hover .s-icon {
    color: #f3f3f3 !important;
}
.no-touch .s-menu-item:hover .s-main {
    color: #f3f3f3 !important;
}
.no-touch .s-menu-item:hover {
    background-color: #ff9c3e !important;
}
.no-touch .article h3 a:hover {
    color: #ff9c3e !important;
}
.blog-pagination a {
    border: 1px solid #ff9c3e !important;
    color: #ff9c3e !important;
}
.no-touch .blog-pagination a:hover {
    color: #f3f3f3 !important;;
    background-color: #ff9c3e !important;
}
blockquote {
    border-left: 2px solid #ff9c3e !important;
}
.no-touch .f-p-article:hover .fpna-header, .no-touch .f-n-article:hover .fpna-header {
    color: #ff9c3e !important;
}
.comment-navigation a {
    border: 1px solid #ff9c3e !important;
    color: #ff9c3e !important;
}
.no-touch .comment-navigation a:hover {
    background-color: #ff9c3e !important;
    color: #f3f3f3 !important;
}.comment-form input[type="submit"] {
    border: 1px solid #ff9c3e !important;
    background-color: #ff9c3e !important;
}
#wp-calendar tbody tr td a {
    color: #ff9c3e !important;
}
.no-touch .content-sidebar .agentsWidget ul.agentsList li a:hover .info .name {
    color: #ff9c3e !important;
}
.no-touch .content-sidebar .propsWidget ul.propList li a:hover .info .name {
    color: #ff9c3e !important;
}
.datepicker td.day:hover {
    color: #ff9c3e !important;
}
.datepicker td.active,
.datepicker td.active:hover {
    color: #f3f3f3 !important;
    background-color: #ff9c3e !important;
}
.datepicker td span.active {
    color: #f3f3f3 !important;
    background-color: #ff9c3e !important;
}
.datepicker thead tr:first-child th:hover {
    color: #ff9c3e !important;
}
@media screen and (max-width: 767px) {  
    #header {
        background-color: rgba(255, 255, 255, 0.32) !important;
    }
    .logo {
        background-color: transparent !important;
    }
}
.no-touch #dsidx-listings .dsidx-primary-data .dsidx-address a:hover {
    color: #ff9c3e !important;
}
.no-touch ul.dsidx-list.dsidx-panel li a:hover {
    color: #ff9c3e !important;
}
.no-touch div.dsidx-results-widget .dsidx-slideshow-control:hover {
    background-color: #ff9c3e !important;
    color: #f3f3f3 !important;
}
.no-touch div.dsidx-results-widget h4 a:hover {
    color: #ff9c3e !important;
}
.no-touch .dsidx-widget-single-listing h3.widget-title a:hover {
    color: #ff9c3e !important;
}
.no-touch .dsidx-prop-summary .dsidx-prop-title a:hover {
    color: #ff9c3e !important;
}
.no-touch h4.dsidx-address a:hover {
    color: #ff9c3e !important;
}
.no-touch .properties-list-item-details h2 a:hover {
    color: #ff9c3e !important;
}
.content-sidebar .price-plan-title.active {
    background-color: #ff9c3e !important;
}

.no-touch .btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
    background-color: #3d3d3d !important;
    color: #f3f3f3 !important;
}
.no-touch a.text-green:hover {
    color: #3d3d3d !important;
}
.no-touch a.bg-green:hover {
    background-color: #3d3d3d !important;
}
.comment-form input[type="submit"]:hover {
    background-color: #3d3d3d !important;
    border: 1px solid #3d3d3d !important;
}
.footer-nav .searchform input[type="submit"] {
    background-color: #3d3d3d !important;
}
.content-sidebar .searchform input[type="submit"] {
    background-color: #3d3d3d !important;
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
    color: #f3f3f3 !important;
    background-color: #3d3d3d !important;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
    background-color: #3d3d3d \9 !important;
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
    color: #f3f3f3 !important;
    background-color: #3d3d3d !important;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
    background-color: #3d3d3d \9 !important;
}

#leftSide {
    background-color: #333333 !important;
}

.leftNav > div > ul > li > a {
    color: #adc8c7 !important;
}
.expanded .leftNav > ul > li.onTap > a {
    color: #adc8c7 !important;
}
@media screen and (max-width: 767px) {  
    .searchIcon {
        color: #adc8c7 !important;
    }
    .search input::-webkit-input-placeholder {
        color: #adc8c7 !important;
    }
    .search input:-moz-placeholder {
        color: #adc8c7 !important;
    }
    .search input::-moz-placeholder {
        color: #adc8c7 !important;
    }
    .search input:-ms-input-placeholder {
        color: #adc8c7 !important;
    }
}

.leftNav > div > ul > li > ul > li > a {
    color: #96adac !important;
}
.no-touch .leftNav > div > ul > li:hover > ul > li > a, .leftNav > div > ul > li.onTap > ul > li > a {
    color: #96adac !important;
    /* background-color: #132120; */
}

.no-touch .leftNav > div > ul > li:hover > a, .leftNav > div > ul > li.onTap > a {
    background-color: #ff9c3e !important;
    color: #f3f3f3 !important;
}
.expanded .leftNav > ul > li.active > a {
    background-color: #ff9c3e !important;
    color: #f3f3f3 !important;
}

.leftNav > div > ul > li > ul {
    background-color: #132120 !important;
}
.no-touch .leftNav > div > ul > li > ul {
    background-color: #132120 !important;
}
.no-touch .leftNav > div > ul > li:hover > ul > li > a, .leftNav > div > ul > li.onTap > ul > li > a {
    /* color: #96adac; */
    background-color: #132120 !important;
}
@media screen and (max-width: 767px) {  
    .leftNav .search {
        background-color: #132120 !important;
    }
    .search input {
        background-color: #132120 !important;
        color: #f3f3f3 !important;
    }
}

.no-touch .leftNav > div > ul > li > ul > li > a:hover {
    color: #f3f3f3 !important;
    background-color: #05635e !important;
}

@media screen and (max-width: 767px) {
    .no-touch a.mapHandler:hover {
        color: #c6e4e3 !important;
    }
    .no-touch #header a.userHandler:hover {
        color: #c6e4e3 !important;
    }
    .no-touch #header a.navHandler:hover {
        color: #c6e4e3 !important;
    }
}

.home-footer {
    background-color: #333333 !important;
}

.footer-header {
    color: #c6e4e3 !important;
}

.propType {
    background-color: #eab134 !important;
}
.figType {
    background-color: #eab134 !important;
}
.similar a.similarProp .info .price .badge {
    background-color: #eab134 !important;
}
.propWidget-1 .fig .figType {
    background-color: #eab134 !important;
}
.propWidget-2 .fig .figType {
    background-color: #eab134 !important;
}
.propWidget-3 .priceCap .type {
    background-color: #eab134 !important;
}
.propsWidget ul.propList li a .info .price .badge {
    background-color: #eab134 !important;
}
.label-yellow {
    background-color: #eab134 !important;
}

.favLink .addFav, .favLink .addedFav, .favLink .noSigned {
    color: #ea3d36 !important;
}
.no-touch .favLink a.addFav:hover span, .no-touch .favLink a.noSigned:hover span {
    color: #ea3d36 !important;
}

.figStatus {
    background-color: #ea3d36 !important;
}
html { margin-top: 0px !important; }
* html body { margin-top: 0px !important; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #ff9c3e;
    color: #f3f3f3;
    outline: 0 none;
    text-decoration: none;
}

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {  
    font-family: "Open Sans" !important;
    font-weight: 300;
    
}

.menuontop{
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.94) 0%, rgba(238, 238, 238, 0) 100%); 
	left: 0;
	padding: 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1600;
	height: 300px
}

.menuontop .top-nav, .menuontop .topUserWraper{
    margin-top:26px;
}

.menuonbottom{
 	background: rgba(242, 242, 242, 0.97); 
	padding: 6px 20px;
	height: auto;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
}

.menuonbottom .top-nav, .menuonbottom .topUserWraper{
    margin-top:0px;
}

.menuonbottom img{    
    width:200px;
    margin-top: 0px
}
.contactenos{
    background:url(../img/contactenos.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    color:white;
    min-height:200px;
    padding:30px;
}

.form-control {    
    border-radius: 2px;    
}

h3{
    font-size:18px;
}

.iconsapp{
    background: white none repeat scroll 0 0;
    display: inline-block;
    margin-right: 20px;
    padding: 10px 20px;
    text-align: center;
    max-width:100px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    font-size:10px;
    min-height: 137px;
    vertical-align: top;
    margin-top: 5px;
    padding-top: 20px;
}

.iconsapplicaciones{
    min-height:inherit;
}

.iconsapp [class^="flaticon-"]::before,#iconsapp [class*=" flaticon-"]::before, #iconsapp [class^="flaticon-"]::after, #iconsapp [class*=" flaticon-"]::after {
    font-family: Flaticon;
    font-size: 60px;
    font-style: normal;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-weight: 300
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover  {
    color: #333;
    text-decoration: none;
    background-color: #ff9c3e !important;
    font-weight: 300;
	font-size: 14px
}

.dropdown-menu>li>a {
 font-weight: 300;
 }
	

.fa-heart-o:before {
    content: "\f08a";
    color: #e93213
}

.fa-search:before {
    content: "\f002";
    color: #e93213
}
.fa-angle-down:before {
    content: "\f107";
    color: #ffab5b
}

.menu .flaticon-alcohol149:before {
    content: "\e003";
    color:white;
    font-size:20px;    
}

.menu .flaticon-accesory57:before {
    content: "\e000";
    color:white;
    font-size:20px;    
}

.logo a span.marker {
    top: 10px;
}

.logo .flaticondos-home166:before {
     font-size: 28px;
    margin-left: -20px;    
}

.icon-heart::before {
    color: white;
    content: "";
    font-size: 21px;
    font-weight: bold;
}

.slideshowShadow{
    background-color:rgba(186, 116, 76, 0.47) !important;

}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar {    
    margin-bottom: 0px;
}

@media screen and (max-width: 1300px) {  
    #innerlogo{
        display:none;
    }
    .mainHeight{
        height:100% !important;
    }    
}

@media screen and (max-width: 1200px) {  
    #homelogo{
        display:none;
    }
    #homelogo2{
        display:block;
    }
    .mainHeight{
        height:100% !important;;
    }    
}

@media screen and (max-width: 765px) {
    #homelogo2{
        display:none;
    }
    .menuontop .navbar-nav, .menuonbottom .navbar-nav{
    background: rgba(255, 255, 255, 0.92);
    width: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    }
}

@media screen and (min-width: 1200px) {
    #homelogo2{
        display:none;
    }
    .mainHeight{
        height:100% !important;;
    }    
}

@media screen and (min-width: 765px) {
    .dropdown:hover .dropdown-menu{
        display:block;
        left: 0;
    }
    .read{
        overflow:auto;
    }
    .mainHeight{
        height:100% !important;;
    }    
}

@media screen and (min-width: 765px) and (max-width:1024px){
    .menuontop .navbar-default .navbar-nav > li > a, .menuonbottom .navbar-default .navbar-nav > li > a {
        font-weight:bold;
    }
}

@media screen and (min-width: 765px) {
    .read{
        overflow:inherit;
    }
    .navbar-brand > img {        
        width: 278.2px !important;
        margin-left: -29.6px;
   		 margin-top: -18px;
     }
    .mainHeight{
        height:110% !important;;
    }     
}

@media screen and (max-width: 360px) {
    .read{
        overflow:inherit;
    }
    .navbar-brand > img {        
        width: 240px !important;
    }
    .mainHeight{
        height:110% !important;;
    }      
}
@media screen and (max-width: 320px) {
    .read{
        overflow:inherit;
    }
    .navbar-brand > img {        
        width: 162px !important;
    }
    .mainHeight{
        height:110% !important;;
    }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
} 


.dropdown-menu li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menuontop #innerlogo, .menuonbottom #innerlogo{
    display:none;
}

.menuontop .navbar-default .navbar-nav > li > a, .menuonbottom .navbar-default .navbar-nav > li > a {
    color: #333;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 10.8px;
    margin-right: -19.8px;
    margin-bottom: 8px;
  
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
}

.navbar-default .navbar-toggle {
    border-color: rgba(0,0,0,0.5);
    
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(0,0,0,0.5);
    
}


.navbar-right {        
        margin-right: -15px;
        margin-top: 12px
    }
    
.dropdown-menu {
    min-width: 190px;    
}

.btn-link, .btn-link:focus, .btn-link:hover {    
    color: #337ab7;
}

.modal .btn-green{
    margin-top:20px; width:160px;
}



.beverage.s-menu-item:hover {
    background-color: #aa3528 !important;
    color:white;
}

.beverage.s-menu-item:hover .s-icon, .beverage.s-menu-item:hover .s-main,  .beverage.s-menu-item:hover .s-sub{
    color:white !important;
}

.beverage.s-menu-item .s-icon, .beverage.s-menu-item .s-main,  .beverage.s-menu-item .s-sub{
    color:#aa3528 !important;
}

.resultsList{
    padding-bottom:40px;
}

.s-content{
    box-shadow:none !important;
}

.new{
    position:relative;
}

.new > div{
    font-weight: bold;
    position: absolute; 
    right: 0; 
    z-index: 1;
    border-style: solid; 
    height: 0px; 
    font-size: 13px; 
    padding: 0px; 
    border-color: transparent #f9596f transparent transparent; 
    text-align: right;
    -moz-border-top-colors: none; 
    -moz-border-right-colors: none; 
    -moz-border-left-colors: none; 
    -moz-border-bottom-colors: none; 
    border-width: 0px 50px 37px;
}

.new > span{
    position: absolute; 
    z-index: 2; 
    font-weight: bold; 
    color: white; 
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg); 
    right: 0; 
    padding: 6px 3px; 
    font-size: 12px;
}

.summary .new > span, .summary .new > div{
    top:-20px;
    right: -20px; 
}

.rel .new > span, .rel .new > div{
    top: 170px;
    right: 0; 
}

.open > .dropdown-menu {
    display: inline;
}

.nav > li > a {
    padding: 10px 8px;
    font-size: 13px;
}