<ion-modal-view style="color: white; background: rgba(0, 0, 0, 0.81) none repeat scroll 0px 0px; padding: 30px;">
    <div style="float:left" ng-click="closeModal();"><i class="icon ion-close"></i></div>
    <div style="text-align:center; font-weight:normal; font-size:20px">Búsqueda</div>
    <div style="margin-top: 50px;" class="list">
        <label class="item item-input">
          <input type="text" placeholder="Escriba lo que busca" ng-model="search.descripcion">
        </label>   
        <label class="item item-input item-select">
            <div class="input-label">
              Tipo
            </div>
            <select ng-model="search.tipos_id">
                <option value=""></option>
                <option value="1">Vinos</option>
                <option value="2">Cervezas</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
              Clasificación
            </div>
            <select ng-model="search.clasificacion_id">
                <option value=""></option>
                <option ng-repeat="i in clasificacionesSearch | orderBy:'clasificacion_nombre'" value="{{i.id}}">{{i.clasificacion_nombre}}</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
              Función
            </div>
            <select ng-model="search.funciones">
              <option value=""></option>
              <option ng-repeat="i in funcionesSearch | orderBy:'beverage_funciones_nombre'" value="{{i.url}}">{{i.beverage_funciones_nombre}}</option>
            </select>
          </label>
        <button class="button button-assertive button-full" ng-click="buscar(search)">BUSCAR</button>
    </div>
</ion-modal-view>