<ion-view view-title="Foods">
  <ion-content>
        <center><ion-spinner icon="android" ng-show="loadingSpinner"></ion-spinner></center>
        <ion-list>            
            <div ng-repeat="i in gamas | orderBy:'id'" ng-if="i.productos.length>0">
                <ion-item class="item-stable" ng-click="toggleGroup(i)">                    
                  <i class="collapseButton icon ion-navicon-round"></i>
                  <div style="color:#f6ae65; float:left;"><img src="{{urlIco+i.icono_app}}" style="width:46px"></div> 
                  <div style="display:inline-block; color:#c45f31; margin-left:10px; font-size:13px"><h1>{{i.gamas_nombre}}  </h1> Related Products: {{i.productos.length}}               </div>
                </ion-item>
                <ion-item class="item-accordion griya" ng-show="isGroupShown(i)">
                    <div ng-click="producto(k.id)" class="producto" ng-repeat="k in i.productos" style="background:url({{urlImg+k.miniatura}}) no-repeat; background-size:cover; background-position:center">
                        <img src="{{urlImg+k.miniatura}}" style="width:100%; visibility: hidden">
                        <div class="new" ng-if="k.new==='1'">
                            <div></div>
                            <span>NEW</span>
                        </div>
                    </div>                    
                </ion-item>
            </div>
            <div ng-if="productos.length===0">
                <center>No products were found for your search parameters</center>
            </div>
        </ion-list>
  </ion-content>
</ion-view>