<ion-view view-title="Food">
  <ion-content>
        <div class="tab">
            <div class="{{tabSeleccionado==1?'active':''}}" ng-click="goDestinado()">Destinated to</div>
            <div class="{{tabSeleccionado==2?'active':''}}" ng-click="goAplicaciones()">Applications</div>
            <div class="{{tabSeleccionado==3?'active':''}}" ng-click="goGamas()">Ranges</div>
        </div>
        <ion-nav-view name="tab-destinado"><ion-nav-view>        
  </ion-content>
</ion-view>