@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: "Flaticon";
        font-size: 36px;
font-style: normal;

}.flaticon-accesory57:before {
	content: "\e000";
}
.flaticon-alcohol135:before {
	content: "\e001";
}
.flaticon-alcohol142:before {
	content: "\e002";
}
.flaticon-alcohol149:before {
	content: "\e003";
}
.flaticon-alcohol152:before {
	content: "\e004";
}
.flaticon-animal229:before {
	content: "\e005";
}
.flaticon-animal241:before {
	content: "\e006";
}
.flaticon-animal279:before {
	content: "\e007";
	font-family: Flaticon;
        font-size: 36px;
font-style: normal;
font-weight: bolder;


}
.flaticon-animal492:before {
	content: "\e008";
}
.flaticon-baker96:before {
	content: "\e009";
}
.flaticon-bar9:before {
	content: "\e00a";
}
.flaticon-bird18:before {
	content: "\e00b";
}
.flaticon-breakfast42:before {
	content: "\e00c";
}
.flaticon-burger25:before {
	content: "\e00d";
}
.flaticon-chicken16:before {
	content: "\e00e";
}
.flaticon-dairy:before {
	content: "\e00f";
}
.flaticon-dessert36:before {
	content: "\e010";
}
.flaticon-healthcare32:before {
	content: "\e011";
}
.flaticon-lightbulb32:before {
	content: "\e012";
}
.flaticon-maximize2:before {
	content: "\e013";
}
.flaticon-meat63:before {
	content: "\e014";
}
.flaticon-meat69:before {
	content: "\e015";
}
.flaticon-meat70:before {
	content: "\e016";
}
.flaticon-science77:before {
	content: "\e017";
}
