<!--<ion-nav-view name="tab-main">
    <div class="bar bar-header bar-positive">
        <h1 class="title">{{nombre}}</h1>
        <button class="button icon ion-person"></button>  
        <button ng-click="toggleWorkin()" class="button right icon ion-toggle-filled" style="color:{{workin?'green':'red'}}; position:absolute; top:6px; right:0px;"></button>
        <button ng-click="toggleSiniestro()" class="button right icon ion-alert-circled" style="color:{{siniestro?'orange':'gray'}};  position:absolute; top:6px; right:38px;"></button>
        <button ng-click="toggleCarga()" class="button right {{carga?'ion-android-checkbox':'ion-android-checkbox-blank'}}" style="position: absolute; top: 6px; right: 76px; height: 35px; width: 34px;"></button>
      </div>
</ion-nav-view>-->
<ion-side-menus>
        <ion-pane ion-side-menu-content>
            <ion-nav-bar class="bar-positive nav-title-slide-ios7">
                <ion-nav-buttons side="left">
                    
                </ion-nav-buttons>
                <ion-nav-buttons side="right">
                    
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view name="tab-main" animation="slide-left-left"></ion-nav-view>
        </ion-pane>
        <ion-side-menu side="left">
            <header class="bar bar-header bar-positive">
                <h1 class="title">Menú</h1>
            </header>
            <ion-content class="has-header">
                <ul class="list">
                    <a ui-sref="tab.main" menu-toggle="left" nav-clear class="item">Inicio</a>
                    <a ui-sref="tab.indicadores" menu-toggle="left" nav-clear class="item">Indicadores</a>
                    <a ui-sref="tab.envios" menu-toggle="left" nav-clear class="item">Envíos</a>
                    <a ng-click="desconectar()" menu-toggle="left" nav-clear class="item">Log out</a>
                </ul>
            </ion-content>
        </ion-side-menu>
</ion-side-menus>