body,a,div,p,h1,h2,h3,h4{
    font-family: Open Sans;
}
#mainContent{
    background:url(../../img/main/bg.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    font-family: Open Sans;
}

.buttonGo{
    text-align:center;  
    font-size: 21.1px; 
    color:white; 
    text-decoration: none; 
    border:1px solid white;
    padding: 30px 0 11px;
    border-radius: 4px;
    margin: 0 22.3px;
    display: inline-block;
    width: 32%;
}