<ion-view view-title="Ensiss">
  <ion-content id="mainContent">
      <div style="margin-top: 30px; color:black; font-style:italic; font-size: 20px; text-align:center;">
          SOLUTIONS WITH FUNCTIONAL INGREDIENTS
      </div>
          <div style="margin-top: 20px; text-align:center"><img style="width:60%" src="img/logo.png"></div>
          
    
      <div style="margin-top: 50px; text-align: center">
          <a href="foods.html" class="buttonGo"><i class="flaticonfood-food"></i><br/><br/>Food</a>
          <a href="beverage.html" class="buttonGo"><i class="flaticon flaticon-alcohol149"></i><br/><br/>Beverages</a>
      </div>
      <div style="margin-top: 80px; color:white;  font-size: 14px; text-align:center;">
          <a href="../index.html#/erase" style="color:white; text-decoration: none">Cambiar idioma al Español</a>
      </div>
  </ion-content>
</ion-view>