.scroll{min-height: 100%; padding-bottom:60px;}
scroll-content{
    background:#f3f3f3;
}
h1{
    font-size:21px;
     margin: 0px;
}
.bar.bar-positive {
    background-color: #aa3629;
    background-image: none;
    border-color: #aa3629;
    color: #fff;
    font-weight:300;
}
.tab{
    padding:0px;
    background:#2d353b;
}
.tab > div{
    background:#2d353b;
    text-align:center;
    color:white;
    font-weight:bold;
    font-size:14px;
    padding:20px 10px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    width: 32%;
    display: inline-block;
}
.tab > div.active{
    border-bottom: 4px solid #aa3629;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}

.tab > div a{
    color:white;
    text-decoration:none;
}

.tab-active{
    border-bottom: 4px solid #f6ae65;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    padding: 11px 0;
    text-align:center;
}

.collapse{
    height: 60px;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    vertical-align: middle;
}

.collapseButton{
    float:right;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.griya{
    background:#2d353b;
    padding:0px;
}
.griya > div{
    display: inline-block;
    width: 45%;
    margin: 5px;
    float:left;
    padding: 36px;
    margin-left: 8px;
    position:relative;
}

.descripcion{
    text-align:justify;
    color:#696969;
}

.descripcion strong{
    text-align:center;
    color:black;
    width:100%;
    display:block;
    margin: 10px 0;
}

.iconsapp {
    background: white none repeat scroll 0 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    display: inline-block;
    font-size: 10px;
    margin-right: 20px;
    margin-top: 5px;
    padding: 20px 20px 10px;
    text-align: center;
    vertical-align: top;
    width:44%;
    margin-top: 11.6px;
}

.tabp > div{
    text-align:center; 
    font-weight:bold; 
    font-size:12px; 
    padding-top:5px; 
    width:30%;
    display: inline-block;
    line-height: 14px;
}

.new{
    position:relative;
}

.new > div{
    font-weight: bold;
    position: absolute; 
    right: 0; 
    z-index: 1;
    border-style: solid; 
    height: 0px; 
    font-size: 13px; 
    padding: 0px; 
    border-color: transparent #f9596f transparent transparent; 
    text-align: right;
    -moz-border-top-colors: none; 
    -moz-border-right-colors: none; 
    -moz-border-left-colors: none; 
    -moz-border-bottom-colors: none; 
    border-width: 0px 50px 37px;
}

.new > span{
    position: absolute; 
    z-index: 2; 
    font-weight: bold; 
    color: white; 
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg); 
    right: 0; 
    padding: 6px 3px; 
    font-size: 12px;
}
.griya .new{
    position:absolute;
    top:0px;
    right:0px;
}

.griya .new > span{
    top: -11px;
}

.favorito{
    position: absolute; left: 24px;
    margin-top: 9px
}

.favorito i{
    font-size: 36px;
}

.descripcion img{
	width:100%
}