<ion-modal-view style="color: white; background: rgba(0, 0, 0, 0.81) none repeat scroll 0px 0px; padding: 30px;">
    <div style="float:left" ng-click="closeModal();"><i class="icon ion-close"></i></div>
    <div style="text-align:center; font-weight: normal; font-family: Open Sans; font-size:18px">Búsqueda</div>
    <div style="margin-top: 20px; font-size:40px" class="list">
        <label class="item item-input">
          <input type="text" placeholder="Escriba lo que busca" ng-model="search.descripcion">
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
              Gama
            </div>
            <select ng-model="search.gamas_id">
                <option value=""></option>
                <option ng-repeat="i in gamas | orderBy:'id'" value="{{i.id}}">{{i.gamas_nombre}}</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
              Aplicación
            </div>
            <select ng-model="search.aplicaciones_id">
                <option value=""></option>
                <option ng-repeat="i in aplicaciones | orderBy:'id'" value="{{i.id}}">{{i.aplicaciones_nombre}}</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
              Destinado a
            </div>
            <select ng-model="search.destinatarios_id">
              <option value=""></option>
              <option ng-repeat="i in destinatarios | orderBy:'id'" value="{{i.id}}">{{i.destinatarios_nombre}}</option>
            </select>
          </label>
        <button class="button button-assertive button-full" ng-click="buscar(search)">BUSCAR</button>
    </div>
</ion-modal-view>