<ion-view view-title="Contacto">
  <ion-content>
        <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="Escriba su nombre" ng-model="datos.nombre">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Escriba su email" ng-model="datos.email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Mensaje</span>
          <textarea placeholder="Escriba su mensaje" style="height: 140px;" ng-model="datos.mensaje"></textarea>
        </label>
        <button class="button button-full button-assertive" ng-click="contacto(datos)">Enviar</button>
      </div>
  </ion-content>
</ion-view>