<ion-view view-title="{{producto.foods_nombre}}">
  <ion-content style="background:{{viewed=='relacionados'?'#2d353b':'#f3f3f3'}};">
      <div style="background:url({{urlImg+producto.portada}}) no-repeat; background-size:cover; background-position:center; height:200px; width:100%"></div>
      <div class="tabp" style="background:white;">         
          <div ng-click="viewed='vista'" class="{{viewed=='vista'?'tab-active':''}}">INFO</div>
          <div ng-click="viewed='relacionados'" class="{{viewed=='relacionados'?'tab-active':''}}">RELATED</div>
          <div ng-click="viewed='compartir'" class="{{viewed=='compartir'?'tab-active':''}}">SHARE</div>
           <div ng-click="next()" class="{{viewed=='siguiente'?'tab-active':''}}" style="width:6%"><i class="icon ion-chevron-right"></i></div>
    </div>
    <div ng-click="addFav(producto)" class="favorito" style="color:{{iconColor}}"><i class="icon ion-ios-heart-outline"></i></div>
    <div class="new" ng-if="producto.new==='1'">
        <div></div>
        <span>NEW</span>
    </div>                    
      <div ng-show="viewed=='vista'">
        <div class="descripcion" ng-bind-html="producto.descripcion" style="padding: 50px 20px;"></div>
        <div class="descripcion">
            <strong>Destined to</strong>
            <div style="white-space: normal; text-align: center; padding-left: 23px;">
                <div class="iconsapp" style="text-align:center" ng-repeat="d in producto.destinatarios">
                    <i class="flaticon {{d.icono}}" style="color:#f6ae65"></i><br/>
                    {{d.destinatarios_nombre}}
                </div>
            </div>
            <strong>Applications</strong>
            <div style="white-space: normal; text-align: center; padding-left: 23px;">
                <div class="iconsapp" style="text-align:center" ng-repeat="d in producto.aplicaciones">
                    <img src="{{urlIco+d.icono}}" style="width:46px"><br/>
                    {{d.aplicaciones_nombre}}
                </div>
            </div>
        </div>
      </div>
      
      <div ng-show="viewed=='relacionados'">        
        <ion-list>                
            <ion-item class="item-accordion griya" style="max-height:600px; border-color:transparent">
                <div ng-if="k.id!==producto.id" ng-click="goProducto(k.id)" class="producto" ng-repeat="k in relacionados.productos" style="background:url({{urlImg+k.miniatura}}) no-repeat; background-size:cover; background-position:center">
                    <img src="{{urlImg+k.miniatura}}" style="width:100%; visibility: hidden">
                    <div class="new" ng-if="k.new==='1'">
                        <div></div>
                        <span>NEW</span>
                    </div>
                </div>
            </ion-item>
        </ion-list>
      </div>
      
      <div ng-show="viewed=='compartir'">        
          <!--<button class="button button-assertive button-full"><i class="icon ion-share"></i> Compartir App</button>-->          
          <button class="button button-assertive button-full" ng-click="share()"><i class="icon ion-share"></i>Share Product</button>
      </div>
  </ion-content>
</ion-view>