<ion-side-menus>
        <ion-pane ion-side-menu-content>
            <ion-nav-bar class="bar-positive nav-title-slide-ios7">
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()"></button>                    
                </ion-nav-buttons>
                <ion-nav-back-button></ion-nav-back-button>
                <ion-nav-buttons side="right">
                    <button class="button button-icon button-clear ion-android-search" ng-click="mostrarSearch()"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view name="tab-tabs" animation="slide-left-left"></ion-nav-view>
        </ion-pane>
        <ion-side-menu side="left">
            <header class="bar bar-header bar-positive">
                <h1 class="title">Menu</h1>
            </header>
            <ion-content class="has-header">
                <ul class="list">
                    <a href="index.html" menu-toggle="left" nav-clear class="item">Start</a>
                    <a href="beverage.html" menu-toggle="left" nav-clear class="item">Beverages</a>
                    <a href="#/tab/favoritos" menu-toggle="left" nav-clear class="item">Favorites</a>
                    <a href="#/tab/contacto" menu-toggle="left" nav-clear class="item">Contact</a>
                </ul>
            </ion-content>
        </ion-side-menu>
</ion-side-menus>