<ion-view view-title="Foods">
  <ion-content>
        <div class="tab" scroll="false">
            <div class="{{tabSeleccionado==1?'active':''}}" ng-click="goVinos()">Vinos</div>
            <div class="{{tabSeleccionado==2?'active':''}}" ng-click="goCervezas()">Cervezas</div>
            <div class="{{tabSeleccionado==3?'active':''}}" ng-click="goFunciones()">Funciones</div>
        </div>
        <ion-nav-view name="tab-vinos"><ion-nav-view>        
  </ion-content>
</ion-view>