	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/04/2016 23:37
  	*/

@font-face {
  font-family: "FlaticonFood";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "FlaticonFood";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticonfood-"]:before, [class*=" flaticonfood-"]:before,
[class^="flaticonfood-"]:after, [class*=" flaticonfood-"]:after {   
  font-family: FlaticonFood;        
font-style: normal;
}

.flaticonfood-food:before { content: "\f100"; font-size: 49px; }
.flaticonfood-foodmin:before { content: "\f100"; font-size: 20px; }