<ion-view view-title="Contact">
  <ion-content>
        <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Write your name" ng-model="datos.nombre">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Write your email" ng-model="datos.email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Message</span>
          <textarea placeholder="Write your message" style="height: 140px;" ng-model="datos.mensaje"></textarea>
        </label>
        <button class="button button-full button-assertive" ng-click="contacto(datos)">Send</button>
      </div>
  </ion-content>
</ion-view>