	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/04/2016 18:54
  	*/

@font-face {
  font-family: "Flaticontres";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticontres";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticontres-"]:before, [class*=" flaticontres-"]:before,
[class^="flaticontres-"]:after, [class*=" flaticontres-"]:after {   
  font-family: Flaticontres;
        font-size: 40px;
        font-style: normal;        
}

[class^="flaticontresm-"]:before, [class*=" flaticontresm-"]:before,
[class^="flaticontresm-"]:after, [class*=" flaticontresm-"]:after {   
  font-family: Flaticontres;
        font-size: 48px;
        font-style: normal;
        font-weight: ; 	
        color: #f6ae65;
        margin-left: -6px
  
}

.flaticontres-animal:before { content: "\f100"; }
.flaticontresm-animal:before { content: "\f100"; }